[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-craigslist = "*"
pydantic = "*"
aiomysql = "*"
cryptography = "*"
geopy = "*"
"discord.py" = "*"
tabulate = "*"

[requires]
python_version = "3.8"
